body {
  position: relative;
  height: 100%;
  color: black;
  font-size: 16px;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Tahoma, Arial,
    sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  direction: ltr;
}

.container {
  width: 100%;
  padding: 0 50px;
  height: 100%;
}

.logo {
  cursor: pointer;
  height: 135px;
  max-width: 135px;
  overflow-x: hidden;
}

.warp span {
  white-space: nowrap;
}

.val {
  float: left;
  width: auto;
  min-height: 25pt;
  display: inline-block;
  color: #cccccc;
}

.key {
  display: inline-block;
  float: right;
  width: auto;
  min-height: 25pt;
  color: #cccccc;
}

.finding_image {
  position: absolute;
  right: 25px;
  top: 50px;
  position: fixed;

}

.finding_image button {
  width: 100%;
  height: 50px;
}

.picwarp {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  line-height: 200px;
  background: #050404;
}

.picwarp img {
  width: 100%;
  /* display: none; */
}

.picture {
  padding: 20px 0;
}

.picture .form-group {
  display: none;
  margin-bottom: 0;
}

.picture .col-md-3 {
  text-align: center;
}

.warp {
  border: 1px solid rgb(169, 169, 169);
  padding: 10px;
}

.contentWarpper {
  width: 100%;
  bottom: 0;
  top: 10mm;
  position: absolute;
  overflow: hidden;
}

#transition-description {
  display: none;
}

#temp-description {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  border: 1px solid #1b1b1b;
  background-color: #434343;
  overflow-y: auto;
  padding: 8px 13px;
  display: none;
  color: #cccccc;
  text-align: left;
}

#transition-description {
  display: none;
}

#temp-description button {
  margin-top: -3px;
}

#temp-description button span {
  display: none;
}

#temp-description button .selected,
#temp-description button .glyphicon {
  display: inline;
}

#openEditor {
  width: 100%;
}

#btn-sure,
#btn-edit {
  width: auto;
  height: auto;
  margin-right: 5px;
  display: none;
  position: absolute;
  right: 5px;
  top: 10px;
  background: #434343;
  transform: scale(1.1);
}

#up {
  float: right;
  width: auto;
  height: auto;
  display: none;
}

#down {
  float: right;
  width: auto;
  height: auto;
  margin-right: 25px;
  display: none;
}

#up:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  color: white;
}

#down:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

.itemtitle {
  width: 100%;
  font-size: 18px;
  color: #cccccc;
  height: 10mm;
  position: relative;
  text-align: left;
}

.tab-content img {
  width: 100%;
  height: auto;
  padding: 0;
  border: 1px solid #1b1b1b;
}

.tab-content {
  padding: 15px;
  border-left: 1px solid #1b1b1b;
  border-right: 1px solid #1b1b1b;
  border-bottom: 1px solid #1b1b1b;

}

#showimage .img_active {
  border: 1px solid #008cd6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  /* 老的 Firefox */
}

.f_right {
  position: absolute;
  top: 15px;
  right: 145px;
  color: #cccccc;
}

.f_right span {
  display: block;
  z-index: 999;
}

.picseq {
  position: absolute;
  display: inline-block;
  left: 5%;
  top: 5%;
  color: #ffffff
}



.logo-default {
  margin: 13px 0 0 20px;
}

.form-group {
  margin-bottom: 0;
}


#transition-description {
  display: none;
}

/* +++++ add ++++ */
.middle {
  height: 34px;
  line-height: 34px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.footer {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50px;
  left: 0;
  height: 950px;
}

.footer .box {
  height: 100%;
}

#page {
  margin-top: 50px;
  margin-bottom: 70px;
}

.modal-header {
  color: #cccccc;
  background: #1b1b1b;
  border-bottom: none;
}

.modal-body {
  background: #313131;
  color: #cccccc;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}



.modal .itemtitle {
  font-size: 16px;
  text-align: left;
}

#commentAndFindingWarpper .btn-xs {
  width: auto;
  height: auto;
  color: #008cd6;
}


#showimage,
#showdic,
#showtemplate {
  height: 675px;
}

#dic-tree {
  margin: 10px 0;
}

#templateList {
  padding: 0;
  height: 570px;
}

#templateList li {
  margin: 10px 2%;
  border: 1px solid #ffffff;
  display: list-item;
  font-weight: bold;
  width: 46%;
  position: relative;
  cursor: pointer;
  padding: 10px;
  list-style: none;
  float: left;
}

#templateList li:hover {
  border: 1px solid rgb(0, 140, 214, 233);
}

#templateList .li-active {
  border:1px solid rgb(0, 140, 214, 233)
}

#templateList li a {
  color: #cccccc;
  list-style: none;
  text-decoration: none;
}

#reportWarpper {
  width: 210mm;
  padding: 0 10mm;
  margin: 0 auto;
  margin-left: 10%
}

.alonpage {
  padding: 10mm 0;
  height: 294mm;
}

#report-titleWarpper,
#report-patInfoWarpper,
.report-imgTextWarpper {
  position: relative;
  border: 0;
  border-bottom: 1px solid #1b1b1b;
}

.tempItem {
  position: absolute;
}

#report-patInfoWarpper .tempItem {
  position: absolute;
  display: flex !important;
}

#report-patInfoWarpper .tempItem {
  float: left;
  text-align: left;
  display: inline-block;
  height: 10mm;
  font-size: 4mm;
  line-height: 10mm;
  position: relative;
}

.itemtitleContent {
  height: 100%;
  line-height: 10mm;
}

#worksheetValue {
  padding: 10px 20px;
  text-align: left;
}

.worksheetvalue-item {
  display: inline-block;
  min-width: 33.33%;
  padding: 0 15px;
  color: #cccccc;
  /* float: left; */
}

.worksheetvalue-item-key {
  padding-right: 10px;
}

.input-editPatInfo,
.select-editPatInfo {
  display: none;
  -webkit-flex: 1;
  height: 100%;
}

.tempItem .btn-editPatInfo,
.tempItem .btn-commitEditPatInfo {
  background: none;
  height: 22px;
  width: 22px;
  text-align: center;
  display: none;
  position: absolute;
  right: 5px;
  top: 8px;
}

.patInfoKey,
.patInfoValue,
.input-editPatInfo {
  float: left;
}

.tempItem {
  user-select: none;
}

.patInfoKey,
.patInfoValue,
.textContent .div-textContent {
  overflow: hidden;
}

.patInfoValue {
  padding-left: 10px;
}

.btn-group-justified {}

.btn-group-justified>.btn {
  width: 20%;
  height: 34px;
  margin: 0 10px;
}

.div-textContent {
  cursor: pointer;
  padding: 3px;
  text-align: left;
  border: 1px solid #1b1b1b;
  background: #434343;
  height: 100%;
  font-size: 13px;
}

.div-textContent:hover {
  border-color: #008cd6;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 140, 214, 0.6);
}

.active-div-textContent {
  border-color: #008cd6;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 140, 214, 0.6);
}